<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VEREMO</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='DiscrablePage.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>
<body>
<header>
    <h1>VEREMO</h1>
</header>

<div class="hero">
    <div class="info-box">
        <p>
            VEREMO — это приложение, которое определяет 8 базовых эмоций по голосу.
            Говори, и оно определит, что ты чувствуешь.
        </p>
        <a href="{{ url_for('voice') }}" class="btn-arrow">→</a>
    </div>
</div>
</body>
</html>
