<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>VEREMO</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='MainPage.css') }}">
</head>
<body>
<header>
    <h1>VEREMO</h1>
</header>

<div class="hero">
    <canvas id="waveform" width="1000" height="150"></canvas>

    <div class="overlay-box">
        <div class="info-panel">
            <table id="history-table" class="history-table">
                <thead>
                    <tr>
                        <th>Название</th>
                        <th>Длительность (сек)</th>
                        <th>Эмоция</th>
                        <th>Модель</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div id="loader-overlay" class="loader-overlay" style="display: none;">
                <div id="loader" class="loader"></div>
            </div>
        </div>

        <div id="error-message" class="error-message"></div>

        <div class="button-group">
            <div class="dropdown">
                <button class="dropdown-toggle" id="dropdownToggle">Выбрать режим</button>
                <ul class="dropdown-menu" id="dropdownMenu">
                    <li data-value="cnn">CNN</li>
                    <li data-value="rnn">RNN</li>
                    <li data-value="rf">Random Forest</li>
                    <li data-value="hmm">HMM</li>
                </ul>
            </div>
            <button class="start-btn">Старт</button>
        </div>
    </div>

    <div class="button-container">
        <button id="recordBtn" class="btn">Запись</button>
        <button id="stopBtn" class="btn">Стоп</button>
        <button id="listenBtn" class="btn" style="display: none;">Прослушать</button>
        <button id="clearBtn" class="btn">Очистка</button>
        <button id="importBtn" class="btn">Импорт</button>
        <button id="helpBtn" class="btn">Помощь</button>
    </div>

    <input type="file" id="importFile" accept="audio/*" style="display: none;">

    <!-- Панель помощи -->
    <div id="helpPanel" class="help-panel">
        <div class="help-content">
            <button id="closeHelp" class="close-btn">×</button>
            <h2>Помощь</h2>
            <p>Для того, чтобы определить эмоции необходимо сделать запись аудио и нажать на кнопку "Запись", либо
                импортировать готовое аудио и нажать на кнопку "Импорт". Затем нажать на кнопку "Старт" и приложение
                определит вашу эмоцию.</p>
            <p>Дополнение: вы можете прослушать записанное или импортированное аудио нажав на кнопку "Прослушать". Для
                нового аудио нажмите на кнопку "Очистить".</p>
        </div>
    </div>

    <div id="chart-modal" class="chart-modal" style="display:none;">
        <div class="chart-modal-content">
            <span id="close-chart-modal" class="close-chart-modal">&times;</span>
            <canvas id="emotions-pie-chart" width="320" height="320"></canvas>
            <div id="emotions-values"></div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
